<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank List</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="fname" id=""></td>
            </tr>
            <tr>
                <td>Second Name:</td>
                <td><input type="text" name="lname" id=""></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <input type="radio" name="gender" id="" value="Male">
                    <label for="gender">Male</label>
                    <input type="radio" name="gender" id="" value="Female">
                    <label for="gender">Female</label>
                </td>
            </tr>
            <tr>
                <td>Department :</td>
                <td>
                    <select name="dept" id="">
                        <option value="">--select--</option>
                        <option value="Science">Computer Science</option>
                        <option value="Math">Maths</option>
                        <option value="Arts">Arts</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Mark1</td>
                <td><input type="text" name="mark1" id=""></td>
            </tr>
            <tr>
                <td>Mark2</td>
                <td><input type="text" name="mark2" id=""></td>
            </tr>
            <tr>
                <td>Mark3</td>
                <td><input type="text" name="mark3" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>

        <table>
            <tr>
                <td>Name: </td>
                <td>{{fullname}}</td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>{{gender}}</td>
            </tr>
            <tr>
                <td>Department:</td>
                <td>{{department}}</td>
            </tr>
            <tr>
                <td>TotalMark:</td>
                <td>{{tmark}}</td>
            </tr>
            <tr>
                <td>Percentage:</td>
                <td>{{percentage}}</td>
            </tr>
            <tr>
                <td>Grade</td>
                <td>{{grade}}</td>
            </tr>
        </table>

    </form>
    
</body>
</html>